body {
    padding: 0;
    margin: 0;
    background: #ffffff;
    padding-top: 10px; 
    padding-left: 10px;

}

.butn {

display: flex;
justify-content: center;
align-items: center;
cursor: url("publik/Таракан.jpg") 4 1 pointer;
      
}